.profile-container {
	text-align: center;
	margin-top: 50px;
}

.profile-card {
	width: 300px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	background-color: #fff;
}

.profile-card p {
	font-size: 18px;
	color: #333;
}
