.header-layout {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	background-color: #333;
	height: 7rem;
	color: #fff;
}

.nav-bar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 20px;
	background-color: #333;
	color: #fff;
}

.nav-bar button {
	color: #fff;
	text-decoration: none;
	border: none;
	border-radius: 0.5rem;
	font-size: 1.25rem;
	font-weight: bold;
	margin-right: 20px;
	padding: 1rem;
}

.nav-bar button {
	background-color: rgb(12, 24, 58);
}

.nav-bar button.active,
.nav-bar button:hover {
	background-color: rgb(47, 89, 202);
}
